.page-header {
  text-align: center;
}

nav {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}

a {
  color: rgb(70, 188, 223);
  text-decoration: none;
}
